/NetBeansProjects/TxtFileRead/nbproject/private/
/NetBeansProjects/TxtFileReadWrite/nbproject/private/
/NetBeansProjects/JavaVCS/nbproject/private/
/NetBeansProjects/CoreJavaExample/nbproject/private/